.appliance {
  width: 120px;
  height: 120px;
  border: 1px solid gray;
  background: #ddd;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}

#appliance-chooser {
  width: 100vw;
  display: inline-block;
}

.card {
  width: 10vw;
  display: inline-block;
}

.appliance img {
  width: 70%;
  height: 70%;
  margin: auto;
}


.appliance-title {
  font-weight: bold;
}

.slider {
  width: 110px;
}
