.appliance {
  width: 120px;
  height: 120px;
  border: 1px solid gray;
  background: #ddd;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  z-index: 1;
}

#appliance-chooser {
  width: 100vw;
  display: inline-block;
}

.card {
  width: 10vw;
  display: inline-block;
}

.appliance img {
  width: 70%;
  height: 70%;
  margin: auto;
}


.appliance-title {
  font-weight: bold;
}

.slider {
  width: 110px;
}

.color-kitchen {
  background-color: #C67B8399;
}

.color-laundry {
  background-color: #A2E4F799;
}

.color-ac {
  background-color: #ECECEC99;
}

.color-electronics {
  background-color: #3F3E3F99;
}

