.small-tron{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,56,1) 0%, rgba(215,255,0,1) 100%);
  height: 4vh;
}

.small-tron p {
  color: white;
  filter: drop-shadow(0 0 2px black);
}

#house {
  position: absolute;
  top: 153px;
  width: 901px;
  height: 716px;
  background-image: url('./img/house.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: -1;
}
