.house-display {
  position: absolute;
  top: 40vh;
  width: 88vw;
}

#house {
  width: 100%;
  z-index: -1;
}

.layout {
  width: 100vw;
  display: flex;
}

.layout-left {
  width: 88%;
}

.room {
  position: absolute;
  height: 29.6%;
  border: 1px solid black;
}

.appliance-input div {
  display: inline-block;
  margin: 0 5px;
}

.appliance-input p {
  padding: 0;
  margin: 0;
}

#hvac {
  top: 11.1%;
  left: 28.6%;
  width: 21.4%;
}

#laundry {
  top: 11.1%;
  left: 50.0%;
  width: 28.6%;
}

#electronics {
  top: 40.7%;
  left: 0%;
  width: 78.6%;
}

#kitchen {
  top: 70.4%;
  left: 0%;
  width: 100%;
}
