.layout {
  width: 100vw;
  display: flex;
}

.layout-left {
  width: 88%;
}

.room {
  position: absolute;
  height: 220px;
  border: 1px solid black;
}

.appliance-input div {
  display: inline-block;
  margin: 0 5px;
}

.appliance-input p {
  padding: 0;
  margin: 0;
}

#electronics {
  top: calc(20vh + 150px);
  left: 230px;
  width: 490px;
}

#hvac {
  top: calc(20vh + 150px);
  left: 30px;
  width: 200px;
}

#laundry {
  top: calc(20vh + 370px);
  left: 30px;
  width: 270px;
}

#kitchen {
  top: calc(20vh + 370px);
  left: 300px;
  width: 550px;
}
